@import "tailwindcss";
@import "aos/dist/aos.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: #8F3F1A;
  --color-secondary: #4F321E;
  --color-accent: #A3371D;
  --color-cream: #E4DDD3;
  --color-light-cream: #f9e4c6;
  --color-brown: #8F3F1A;
  --color-light-brown: #C7BAA8;
  --color-dark-brown: #4F321E;
  --color-text-dark: #2F232F;
  --color-background-light: #E4DDD3;
  --color-background-dark: #201612;
  --font-family-display: "Plus Jakarta Sans", "sans-serif";
  --font-family-rye: "Rye", "cursive";
  --font-family-lato: "Lato", "sans-serif";
  --border-radius: 0.5rem;
  --border-radius-lg: 1rem;
  --border-radius-xl: 1.5rem;
  --border-radius-full: 9999px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html { scroll-behavior: smooth; }
.font-rye {font-family: "Rye", serif;}
body {font-family: "Lato", sans-serif;}
.scrollbar-hide { -ms-overflow-style: none; /* IE and Edge */ scrollbar-width: none; /* Firefox */ } 
.scrollbar-hide::-webkit-scrollbar { display: none; /* Chrome, Safari, Opera */ }

.my-div {
    background: #f9f9f9;
    box-shadow: 
        inset 5px 0 10px -5px gray,   /* left side */
        inset -5px 0 10px -5px gray;  /* right side */
}

.texture::after { content: ""; position: absolute; inset: 0; background-image: url('/images/texture.png'); /* small noise texture */ opacity: 0.2; pointer-events: none; }

.demo-indicator {
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
  color: #8F3F1A;
  cursor: pointer;
  transition: color 0.15s;
}
.demo-indicator:hover { color: #4F321E; }
